src/org/omnifaces/vdldoc/resources/vdldoc-cc.xhtml.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://vdldoc.org/vdldoc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="deprecated">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="value"/>
          <xs:attribute type="xs:string" name="shortDescription"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exampleURL">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="value"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
   <xs:element name="since">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="value"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>